.box-heading{
    display: flex;
}
.box-heading h3{
    padding-right: 20px;
    font-weight: bold;
}
.box-heading .btn-style{
    background-color: rgb(247, 125, 125);
    border-radius: 50px;
    height: 22px;
    padding: 0px 8px;
}
.child-box{
    display: flex;
}
.child-box .para-one{
    font-weight: 700px;
    border-bottom: 1px solid;
    margin-right: 10px;
}
.child-box .para-two{
    font-weight: 700px;
    color: orange;
    border-bottom: 1px solid;
    margin-right: 10px;
}
.para-there{
    font-weight: 700px;
    color: orange;
}
.all-btn{
    display: flex;
    /* justify-content: space-evenly; */
}
.active{

}
.here{

}
#style{
    display: flex;
    justify-content: space-between;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.list-data{
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}
.list p{
    background-color: rgb(229, 226, 226);
    border-radius: 50px;
    margin-left: 10px;
    padding: 5px;
    font-size: 10px;
}
.time p{
    font-size: smaller;
    color: #787474;
}
.phone{
    display: flex;
}