.pair{
    display: flex;
    justify-content: space-between;
    border: solid 0.1px rgb(223, 221, 221);
    border-radius: 05px;
    padding: 05px 05px 05px 05px;
    margin-bottom: 10px;
}
.pen-css{
    display: flex;
}
.ticket{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.bg-css{
    background-color: rgb(145, 255, 178);
    padding: 15px 15px 15px 15px;
    width: 100%;
    border-radius: 10px;
}
.title-css{
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
}
.sb-box{
    width: 35%;
}
.temp-css{
    display: flex;
    padding: 15px 0px 15px 0px;
}