.form-css{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 40px;
    padding-bottom: 40px;

    
}
#form-w{
    width: 300%;
    margin-left: 20px;

}
hr{
    width: 100%;
}
.form-css h3{
    font-weight:bolder;
}